html, body {
  margin: 0;
  padding: 0;
}

.newsblock .text img {
  max-width: 100%;
}

.center {
  text-align: center;
}

.success {
  color: #27ae60;
}

.swal-button {
  padding: 0 10px 0 10px !important;
}

strong {
  font-family: Roboto-Bold;
}

.icon {
  width: 20px;
  margin: 0 2px 0 2px;
}